<div id="<%= dom_id todo_item %>">
  <p>
    <strong>Description:</strong>
    <%= todo_item.description %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= todo_item.completed %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= todo_item.completed_at %>
  </p>

  <p>
    <strong>Todo list:</strong>
    <%= todo_item.todo_list_id %>
  </p>

</div>
