<p style="color: green"><%= notice %></p>

<%= render @todo_item %>

<div>
  <%= link_to "Edit this todo item", edit_todo_list_todo_item_path(@todo_list, @todo_item) %> |
  <%= link_to "Back to todo items", todo_list_todo_items_path %>

  <%= button_to "Destroy this todo item", [@todo_list, @todo_item], method: :delete %>
</div>
