<p style="color: green"><%= notice %></p>

<div class="card-header d-flex justify-content-between">
  <span>Todo lists</span>
  <%= link_to "New todo list", new_todo_list_path, class: "btn btn-primary btn-sm"%>
</div>

<ul class="lidt-group">
  <% @todo_lists.each do |todo_list| %>
    <li class='list-group-item'>
      <%= link_to todo_list.title, todo_list %>
    </li>
  <% end %>
</ul>

<div id="todo_lists">
  <% @todo_lists.each do |todo_list| %>
    <%= render todo_list %>
    <p>
      <%= link_to "Show this todo list", todo_list %>
    </p>
  <% end %>
</div>


